 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*main tunes*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --primary-color: #ff7613;
    --text-color: #727171;
}
html{
    font-size: 10px;
}

body{
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
}
/*common styles*/
a{
    text-decoration: none;
    color: white; 

}
.description{
margin-top: 1rem;
font-size:1.5rem;
font-weight: 400;
color:var(--text-color);
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;

}
img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    flex-shrink: 0;
    min-width: 300px;
    min-height: 300px;
}

/*layout*/
.container{
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    padding: 10rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    object-fit: cover;
}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem; 
        gap:7rem;
    }
}
.profile{
    grid-column: 1 / -1 ;
    margin-bottom: 2rem;
}
/*profile*/
.profile_container{
    display: flex;
    gap: 2rem; 
}
.profile_profileimg{
    max-width: 250px;
}
.profile_name_firstName{
color: white;
font-weight: 200;
font-size: clamp(2rem, 8vw ,4rem);
text-transform: uppercase;
display: block;
margin-bottom: -0.8rem;
}
.profile_name_lastName{
color: var(--primary-color);
font-weight: 700;
font-size:clamp(2.5rem, 15vw, 7rem);
text-transform: uppercase;
display: block;
}
.profile_title{
    font-size: 1.5rem; 
    font-weight: 400;
    text-transform: uppercase;
}
.profile_title:hover{
    color:var(--text-color);
}
.profile_name_firstName:hover{
    color:var(--primary-color);
}
.profile_name_lastName:hover{
    color:var(--text-color);
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;

    }
}
.title:hover{
    color:var(--text-color);
}
/*Expertise*/
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

